---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
  styles?: string;
};

const { label, isUnderline, styles, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    [styles != null ? styles : ""]: styles,
    ["hover:text-zinc-800 cursor-pointer"]: !styles,
    ["underline decoration-dashed underline-offset-8"]: isUnderline,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  {label}
  <span class="sr-only">{label}</span>
</a>
