---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import HomeIcon from "./icons/HomeIcon.astro";
import GmailIcon from "./icons/GmailIcon.astro";

import ToolTip from "./ToolTip.astro";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header
  class="z-40 flex w-full items-center justify-between  gap-2 text-neutral-900"
>

  <a
    href={`mailto:${presentation.mail}`}
    class="has-tooltip">
    <ToolTip tooltip="Send me an email">
      <GmailIcon /> 
    </ToolTip>
  </a>


  <nav role="navigation">
    
    

    <ul role="list" class="flex flex-row items-center justify-center gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:text-zinc-950 hover:scale-110"]: true,
          }}
        >
          <HomeIcon />   
          
        </a>

     
      </li>
      <li class="text-2xl">/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:text-zinc-950 hover:font-bold"]: true,
            ["text-neutral-900 "]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>

.tooltip {
  visibility: hidden;
  position: absolute;
  transition: all 1s;
  transform: scale(1);
  background-color: #000;
  top: -5px;
  right: 0;
}

.has-tooltip {
  position: relative;
}

.has-tooltip:hover .tooltip {
  position: relative;
  visibility: visible;
  z-index: 100;
  right: 20px;
}

</style>
