---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Template - Flash Cards">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl font-bold text-zinc-900">Flash Cards</h1>
  </main>
</Layout>
