---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />
  <body
    class="jetbrains-mono mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />
    <slot />
  </body>
</html>

<style>

  @import url('lhttps://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&dispay=swap');
  body {
    background-color: #000;
    opacity: 0.8;
    background-image:  linear-gradient(#e4e4e7 1px, transparent 1px), linear-gradient(to right, #e4e4e7 1px, #F7EEDD 1px);
    background-size: 20px 20px;
  }

  .jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  </style>
